.shape, .robot{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 3em;
}
.car{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}
